-if @title.present?
  %meta{content: "You're a #{@title["title"]}", property: "og:title"}
  %meta{content: "game", property: "og:type"}
  %meta{content: "http://angry.cab/angrycab_logo.png", property: "og:image"}
  %meta{content: "http://angry.cab/title/#{@title["slug"]}", property: "og:url"}
  %meta{content: "AngryCab", property: "og:site_name"}
  %meta{content: "You are doing great!", property: "og:description"}
-else
  %meta{content: "Play AngryCab!", property: "og:title"}
  %meta{content: "game", property: "og:type"}
  %meta{content: "http://angry.cab/angrycab_logo.png", property: "og:image"}
  %meta{content: "http://angry.cab/", property: "og:url"}
  %meta{content: "AngryCab", property: "og:site_name"}
  %meta{content: "Help the cab drivers of New York City crush the new companies infiltrating their market!", property: "og:description"}
