.local-score-wrapper
  #local-score{style: 'display: none'}
.wrapper
  .outside-box
    .inside-box
      #score
        $0.00
    %p
      FARE
%canvas#canvas

.fade{style: 'display: none'}
  .message
    %h1
      Welcome to New York game for Cab Drivers (Kill Lyber!)
    %p
      The idea of the game is to provide New York cab driver a tool for emotional release because of some new companies trying to disrupt the market.
    .button
      Start The Game
