.wrapper
  .outside-box
    .inside-box
      #score
        $0.00
    %p
      FARE
    %a.toggle-fullscreen
      Toggle Full Screen
%canvas#canvas
#prime-time.animated.bounceIn{style: 'display: none'}
  PRIME TIME
.fade#welcome-message{style: 'display: none'}
  .message
    =image_tag('angrycab_taxi.png', width: "90px")
    %h1
      Angry Cab
    %h2
      Welcome, soldier.
    %p
      The Taxi Cab Unions of New York City are not happy with new companies disrupting their market. They've hired you to take satellite guns and destroy their competition.
    %ol.rules
      %li
        You have 60 seconds.
      %li
        Destroy cars to collect fares. $100 = 5 extra seconds.
      %li
        More distance = more money. Dots indicate distance.
      %li
        .rotate-car-image.make-smaller
          =image_tag('sprites/uberx.png', width: "40px")
        .text
          < 
        .rotate-car-image.make-smaller
          =image_tag('sprites/black.png', width: "40px")
        .text
          <
        .lyft.make-smaller
          =image_tag('sprites/lyft.png', width: "30px")
      %li
        Collisions = No Points
      %li
        Destroy cars before their destination or LOSE money!
    .button
      .before
        .tracer
        %strong  1
        %br
        MIN
      .middle
        START GAME
      .after
    %a.toggle-fullscreen
      Toggle Full Screen
.fade#game-over{style: 'display: none'}
  .message
    %h1
      Game Over. Your title: 
      %span#game-title
        Cab Ninjya
    #share-button
      Share
    %h2
      .end-note#positive-scores{style: 'display: none'}
        Congruatulations, you've earned $<span class="scores"></span> by robbing drivers.
      .end-note#negative-scores{style: 'display: none'}
        Aw man, you lost $<span class="scores"></span>.
        %br
        Maybe you aren't cut out to be a cab driver...?
    .end-note#save-score
      %p
        Save your score?
      %input{placeholder: "nickname"}
      .save.button
        SAVE
    .end-note#score-board{style: 'display: none'}
      .div.table-wrapper 
        %table
    %br
    .button#game-over-button
      .before
        .tracer
        %strong 1
        %br
        MIN
      .middle
        START OVER
      .after
#timer