.local-score-wrapper{style: 'display: none'}
  #local-score
.wrapper
  .outside-box
    .inside-box
      #score
        $0.00
    %p
      FARE
%canvas#canvas
#prime-time
  PRIME TIME
.fade#welcome-message{style: 'display: none'}
  .message
    %h1
      Welcome to Lyft-ber!
    %h2
      A game for New York City cab drivers
    %p
      The idea of this game is to provide New York City cab drivers a way of releasing their emotions towards some new companies trying to disrupt the market.
    .button
      Start Game
.fade#game-over{style: 'display: none'}
  .message
    %h1
      Game Over and Congratulations!
    %h2
      You have earned $<span class="scores"></span> by robbing lyft-ber drivers.
    %p
      Text
    .button
      Start Over
#timer