.local-score-wrapper{style: 'display: none'}
  #local-score.animated.bounceIn
.wrapper
  .outside-box
    .inside-box
      #score
        $0.00
    %p
      FARE
%canvas#canvas
#prime-time.animated.bounceIn{style: 'display: none'}
  PRIME TIME
.fade#welcome-message{style: 'display: none'}
  .message
    %h1
      Welcome to Lyf-ber!
    %h2
      A game for New York City cab drivers
    %p
      This game provides New York City cab drivers a way of releasing their emotions towards some new companies that are disrupting the market.
    %ol.rules
      %li
        Collect as much cab fare as you can in 60 sec.
      %li
        Click on a car to destroy it and collect its fare.
      %li
        The further a car has gone, the higher the fare will be.
      %li
        Lyf's will give you the most money, then Bers, then BerXs.
      %li
        If two cars collide, they will both explode without giving you the fare.
      %li
        Watch out! You'll lose money if a passenger is dropped off and you haven't crushed the car!
    .button
      .before
        .tracer
        %strong  1
        %br
        MIN
      .middle
        START GAME
      .after
.fade#game-over{style: 'display: none'}
  .message
    %h1
      Game Over!
    %h2
      .end-note#positive-scores{style: 'display: none'}
        Congruatulations, you've earned $<span class="scores"></span> by robbing lyft-ber drivers.
      .end-note#negative-scores{style: 'display: none'}
        Aw man, you lost $<span class="scores"></span> while playing lyf-ber.
        %br
        Maybe you aren't cut out to be a cab driver...?
    .end-note#save-score
      %p
        Save your score?
      %input{placeholder: "nickname"}
    .end-note#score-board
      %table
        %tbody
          %tr.scoreboard-header
            %td Name
            %td Score
          %tr
            %td Neeharika
            %td $511.11
          %tr
            %td Josh
            %td $300.00
    %br
    .button
      .before
        .tracer
        %strong 1
        %br
        MIN
      .middle
        Start Over
      .after
#timer