.privacy
  %h1 Privacy Policy

  %p
    On our site we collect the following:

    Name

  %p
    Information is collected from you when you:

    Register on our site

  %p
    The information collected from you is used in the following ways:

    To improve the website
    We store data at 3rd party provider - facebook, and it has https

  %p
    Third Party Disclosure

    We do not sell Personally Identifiable Information.

  %p
    Third party links

    Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

  %p
    Google

    We have not enable Google Adwords on our site but we may do so on the future.
    We don't know what that means

    COPPA (Children Online Privacy Protection Act)

    We do not specifically market to children under 13

  %p
    Contact Information

    www.angry.cab
    San Francisco
    USA
    972 Mission Street, 5th Floor
    California
    94103