body {
    background-image: image-url('checker.png');
    background-repeat: repeat;
}
canvas {
	cursor: pointer;
	z-index: 1;
	margin: auto;
	display: block;
	border-radius: 20px;
	border: 10px solid yellow;	
}
#score {
	font-family: 'Digital';
	font-size: 80px;
	color: #FF0000;
	margin: 5px;
}
.wrapper {
	position: absolute;
}
.outside-box {
	height: auto;
	width: auto;
	background-color: black;
	z-index: 2;
	position: fixed;
	left: 1050px;
	top: 30px;
	padding: 7px;
	display: inline-block;
	border-radius: 5px;
	opacity: 0.8;
    filter: alpha(opacity=80);
}
.inside-box {
	height: auto;
	width: auto;
	background-color: #710000;
	border: 1px solid #980000;
	min-width: 216px;
	border-radius: 5px;
}

.rules {
  text-align: left;
}

.outside-box p{
	color: white;
	font-family: 'Arial';
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}
.outside-box a{
	color: white;
	font-family: 'Open Sans light', sans-serif;
	text-align: right;
	font-size: 10px;
	display: block;
}
.outside-box a:link{
	text-decoration: none;
}
.outside-box a:visited{
	text-decoration: none;
}
.outside-box a:hover{
	text-decoration: underline;
}
.outside-box a:active{
	text-decoration: underline;
}
.fade {
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	.message {
		position: fixed;
		background: white;
		width: 500px;
		height: 250;
		top: 50%;
		left: 50%;
		margin-left: -250px;
		margin-top: -185px;
		padding: 20px;
		font-family: 'Titillium Web', sans-serif;
		font-weight: bold 700;
		border-radius: 15px;
		text-align: center;
		.button {
			background: #000000;
			border-radius: 24px;
			padding-right: 3px;
			padding-left: 3px;
			cursor: pointer;
			text-align: center;
			opacity: 2;
			color: white;
			display: inline-block;
			min-width: 203px;
			font-family: 'Open Sans light', sans-serif;
			font-weight: 300;
			letter-spacing: 0.2px;
			&:hover {
				opacity: 0.8;
			}
			.before{
				background: image-url('button_sprite.png') 0 -1527px no-repeat;
				height: 30px;
				width: 30px;
				position: absolute;
				margin: 5px;
				font-size: 8px;
				float: left;
			}
			.middle{
				display: inline-block;
				padding-top: 11px;
				padding-bottom: 11px;
				padding-left: 12px;
				padding-right: 8px;
			}
			.tracer{
				font-size: 10px;
				line-height: 10px;
				margin-top: 5px;
			}
			.after{
				display: inline-block;
				background: image-url('button_sprite.png') 0 -1467px no-repeat;
				height: 30px;
				width: 30px;
				margin: 5px;
				font-size: 8px;
				line-height: 10px;
				position: absolute;
				float: right;
			}
		}
		h1, h2 {
			margin: 1px;
			margin-bottom: 5px;
			text-align: center;
			line-height: 30px;
		}
		p{
			line-height: 20px;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		ol {
			font-size: 18px;
			font-weight: 700;
			line-height: 23px;
			li {
				.text{
					vertical-align: middle;
					display: inline-block;
					height: 18px;
				}
				.rotate-car-image {
					transform: rotate(90deg);
					vertical-align: middle;
			  	}
			  	.make-smaller {
			  		max-width: 30px;
			  		display: inline-block;
			  		margin-left: 5px;
			  		margin-right: 10px;
			  		vertical-align: middle;
			  	}
			  	.lyft {
			  		margin-top: 13px;
			  	}
			}
		}
		.end-note{
			.button{
				min-width:180px;
			}
			input {
				line-height: 18px;
				border: 1px solid rgb(168, 168, 168);
				border-radius: 5px;
				padding-left: 6px;
			}
			.save.button{
				width: 50px;
				min-width: 0px;
				padding: 5px;
				font-size: 12px;
				border-radius: 10px;
			}
			.table-wrapper{
				background-color: rgb(255,255,170);
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: auto;
				margin-right: auto;
				max-width: 280px;
				position: inline-block;
				table {
					text-align: left;
					margin-left: auto;
					margin-right: auto;
					min-width: 230px;
				}
			}
		}
	}
}

.scoreboard-header {
  font-weight: bold;
}

.local-score-wrapper {
	position: fixed;
	left: 50px;
	top: 10px;
	width: 100px;
	height: 70px;
	z-index: 100;
	content: '';
	#local-score {
		content: '';
		font-family: 'Digital';
		color: rgb(23, 255, 97);
		font-size: 120px;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	}
}
#timer {
	position: fixed;
	width: 100px;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	height: 80px;
	font-family: 'Digital';
	color: red;
	font-size: 120px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
#prime-time {
	font-family: 'Arial';
	font-size: 30px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 270px;
	height: 60px;
	line-height: 60px;
	color: #666666;
	background: #EEEEEE;
	border: 2px solid #666666;
	border-radius: 2px;
	text-align: center;
	opacity: 0.9;
}