body {
    background-image: image-url('checker.png');
    background-repeat: repeat;
}
canvas {
	cursor: pointer;
	z-index: 1;
	margin: auto;
	display: block;	
}
#score {
	font-family: 'Digital';
	font-size: 80px;
	color: #FF0000;
	margin: 5px;
}
.wrapper {
	position: absolute;
}
.outside-box {
	height: auto;
	width: auto;
	background-color: black;
	z-index: 2;
	position: fixed;
	left: 1000px;
	top: 15px;
	padding: 7px;
	display: inline-block;
	border-radius: 5px;
	opacity: 0.8;
    filter: alpha(opacity=80);
}
.inside-box {
	height: auto;
	width: auto;
	background-color: #710000;
	border: 1px solid #980000;
	min-width: 216px;
	border-radius: 5px;
}
.outside-box p{
	color: white;
	font-family: 'Arial';
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}
.fade {
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	.message {
		position: fixed;
		background: white;
		border-radius: 6px;
		width: 500px;
		height: 250;
		top: 50%;
		left: 50%;
		margin-left: -250px;
		margin-top: -125px;
		padding: 20px;
		font-family: 'Arial';
		border-radius: 5px;
		text-align: center;
		.button {
			background: #710000;
			border-radius: 4px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 20px;
			padding-left: 20px;
			cursor: pointer;
			text-align: center;
			opacity: 2;
			font-weight: bold;
			color: white;
			display: inline-block;
			&:hover {
				opacity: 0.8;
			}
		}
		h1, h2 {
			margin: 2px;
			text-align: center;
		}
	}
}
.local-score-wrapper {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 50px;
	z-index: 100;
	content: '';
	#local-score {
		font-family: 'Digital';
		color: black;
		font-size: 120px;
	}
}