body {
	background: rgb(247, 227, 0);
}
canvas {
	cursor: pointer;
	z-index: 1;
	margin: auto;	
}
#score {
	font-family: 'Digital';
	font-size: 80px;
	color: #FF0000;
	margin: 5px;
}
.wrapper {
	position: absolute;
}
.outside-box {
	height: auto;
	width: auto;
	background-color: black;
	z-index: 2;
	position: fixed;
	left: 1000px;
	top: 15px;
	padding: 7px;
	display: inline-block;
	border-radius: 5px;
}
.inside-box {
	height: auto;
	width: auto;
	background-color: #710000;
	border: 1px solid #980000;
	min-width: 216px;
	border-radius: 5px;
}
.outside-box p{
	color: white;
	font-family: 'Arial';
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}
.fade {
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	.message {
		position: fixed;
		background: white;
		border-radius: 3px;
		border: 2px solid rgba(0,0,0,0.7);
		width: 500px;
		height: 250;
		top: 50%;
		left: 50%;
		margin-left: -250px;
		margin-top: -125px;
		padding: 20px;
		.button {
			background: rgb(247, 227, 0);
			border-radius: 3px;
			padding: 5px;
			cursor: pointer;
			text-align: center;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
.local-score-wrapper {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 50px;
	z-index: 100;
	content: '';
	#local-score {
		font-family: 'Digital';
		color: black;
		font-size: 120px;
	}
}